h2 {
	color: pink;
}

p:nth-of-type(odd) {
	background: #e0ffff;
}
p:nth-of-type(even) {
	background: #90ee90;
}

body {
	background-color: #ccc;
}

main {
	width: 50%;
	background-color: #eee;
	margin: auto;
	padding: 5px;
}

article {
	margin: 3% auto;
	padding: 5px;
	border: solid grey 2px;
	background: #bbb;
}
